@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}

.display {
    background-image: url("/images/image-product-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:300px;
    min-height:450px;
}
.details-wrapper{
    width:300px;
    min-height:450px;
    background-color: hsl(0, 0%, 100%);
}

.details {
    height:300px;
    padding:30px;
}

.perfume {
    color: hsl(228, 12%, 48%);
    font-family:Montserrat;
    text-transform: uppercase;
    margin:0rem;
}

.btn-container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.details a {
    text-decoration: none;
    padding:15px;
    text-align: center;
    font-family:Montserrat;
    border-radius:10px;
    background-color: hsl(158, 36%, 37%);
    width:100%;
    color: white;
}
.text{
    color: hsl(228, 12%, 48%);
    font-family:Montserrat;
    font-size:1.1rem;
    line-height:17px;
    margin: 0px;
}

.details a:hover {
    background-color: hsl(212, 21%, 14%);
}

h1 {
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-price {
    font-family: Fraunces;
    font-size:1.5rem;
    color: hsl(158, 36%, 37%);
}

.previous-price {
    text-decoration: line-through;
    padding-right:50px;
    font-family:Montserrat;
    color:hsl(228, 12%, 48%);
}
.attribution {
    font-size:.7rem;
    text-align: center;
    margin: 20px;
    font-family: Fraunces;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration:none;
  }
@media screen and(max-width:500px) {
    .display {
        background-image: url("/images/image-product-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:300px;
        min-height:200px;
    }
}